
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* logo ima class */
.d-inline-block {
  display: inline-block !important;
  width: 50px;
  height: 50px;
  margin-top: 0px;
}

/* navbar */
.navbar{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #1a2e35), color-stop(55%, #1cbbb4));
  background: linear-gradient(to right, #1a2e35 55%, #1cbbb4 55%);
  
  
}

/* navigation buttons */
.nav-link{
  color: white;
  font-size: 1.2rem;
}

/* navigation title */
.navbar-brand{
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}

/* homepage body */
.Home-page{
  height: calc(95vh - 30px);
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #1a2e35), color-stop(55%, #1cbbb4));
  background: linear-gradient(to right, #1a2e35 55%, #1cbbb4 55%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
}

.registration-linkform {
  border: 1px solid white;
  padding: 30px;
  border-radius: 8px;
}

.login-form{
  border: 1px solid white;
  padding: 30px;
  border-radius: 8px;
}

.registration-link{
  color: #002db3;
}

.registration-form input{
  width: 350px;
}

.login-form input{
  width: 350px;
}



.rightsection .mb-4{
  color: White;
  text-align: center;

}

.home-info h1{
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.home-info p{
  color: white;
  font-size: 20px;
}

.start-interview-btn{
  display: inline-block;
  padding: 10px 0;
  background-color: #ff4f5a;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
}


.aboutus{
    width: 70em;
    color: white;
    text-align: center;
    background: #ffffff1c;
    padding: 4%;
    border-radius: 8px;
}

.aboutus h1{
  color: white;
  font-size: 3em;
}


.container{
  border: 1px solid white;
  text-align: center;
}

.container h2{
  color: white;
  
}

/* to apply bg to all pages */
.splitbg{
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #1a2e35), color-stop(55%, #1cbbb4));
  background: linear-gradient(to right, #1a2e35 55%, #1cbbb4 55%);
}


.nav-item{
  color: white;
} 

.registration-image-link {
  margin-right: 0px; /* Adjust the value as needed */
  color: #002db3;
}

.btn{
  background-color: rgb(238, 212, 46);

  
}

.contact-info-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.contact-info-box {
  /* flex: 1; */
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 8px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.box-icon {
  margin-bottom: 10px;
  font-size: 1.5em;
  transition: transform 0.3s ease-in-out;
  width: 50px;
  justify-content: center;
}

.form-group label{
  color: white;
  padding: 10px;
}

.contact-info-boxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container .contact-info-boxes .contact-info-box{
  flex-direction: row;
}

.container .contact-info-box .box-icon{
  justify-content: center;
  align-items: center;
}

/* .contact-info-box.phone {
  background-color: #ffd700;
}

.contact-info-box.email {
  background-color: #87ceeb;
}

.contact-info-box.address {
  background-color: #98fb98;
} */

.contact-info {
  font-size: 1em;
  text-align: center;
}

.contact-name {
  margin-bottom: 100px; /* Add margin between contact name and contact info boxes */
  
}

/* Media query for small screens */
@media (max-width: 768px) {
  .contact-info-box {
    flex: 100%;
  }
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  /* background-color: #17a2b8; */
}




